@model List<Photo>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<link rel="stylesheet" href="~/css/PhotoSite.css" asp-append-version="true" />
<h1>Spis zdjęć do wydruku</h1>
<a class="btn btn-primary" asp-controller="Photo" asp-action="Create">Dodaj zdjęcie</a>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model[0].Data)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].Opis)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].Aparat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].Autor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].Resolution)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].Format)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].Priority)
            </th>

        </tr>
    </thead>
    <tbody>
        @foreach (Photo item in @Model)
        {
            /*int liczba_zdjęć = item.Spis_piosenek.Count();
            var sumaCzasu = TimeSpan.Zero;
            foreach(var piosenka in item.Czas_trwania)
            {
            sumaCzasu = sumaCzasu.Add(piosenka);
            }*/

            <tr>
                <td>
                    @item.Data.ToShortDateString()
                </td>
                <td>
                    @item.Opis
                </td>
                <td>
                    @item.Aparat

                </td>
                <td>
                    @item.Autor
                </td>
                <td>
                    @item.Resolution
                </td>
                <td>
                    @item.Format
                </td>
                <td>
                    @if (item.Priority == 1)
                    {
                        <span id="priorytetNiski">Niski</span>
                    }
                    else if (item.Priority == 2)
                    {
                        <span id="priorytetSredni">Średni</span>
                    }
                    else if (item.Priority == 3)
                    {
                        <span id="priorytetWysoki">Wysoki</span>
                    }
                    else
                    {
                        <span id="priorytetPilny">Pilny</span>
                    }
                </td>

                <td>
                    <a asp-action="Update" asp-route-id="@item.Id">Edytuj</a>
                    <a asp-action="Details" asp-route-id="@item.Id">Szczegóły</a>
                    <a asp-action="Delete" asp-route-id="@item.Id">Usuń</a>


                </td>
            </tr>
        }
    </tbody>
</table>